<html>
	<body>
		<form action="/create" method="POST" enctype="multipart/form-data">
			Restaurant ID: <input name="restaurantid"><br>
			Name:  <input name="restaurantname"/><br>
			<input type="submit" value="create">
		</form>
	</body>
	
</html>
